.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.comment-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.comment-container h1 {
  font-size: 20px;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}